@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;700&display=swap");
@import url("./reset.css");

body {
  font-family: Lexend;
  background: rgba(17, 10, 29, 1);
}

button {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 24px;
  border: 2px solid #478bf9;
  background: transparent;
  color: #ffffff;
}

.header {
  margin: 16px 140px 0;
  border: 2px solid #478bf9;
  border-radius: 50px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 48px;
}

.logo {
  width: 287px;
  height: 32px;
}

.navigation-list {
  display: flex;
  color: #ffffff;
  cursor: pointer;
}

.navigation-list li {
  display: inline-block;
  margin-right: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.navigation-list li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #478bf9;
  bottom: -4px;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.navigation-list li:hover::before {
  opacity: 1;
}

.navigation-list li:last-child {
  margin-right: 0px;
}

.navigation-btn {
  display: flex;
}

.btn {
  margin-right: 14px;
  cursor: pointer;
}

.btn img {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 8.5px;
}

.btn:last-child {
  margin-right: 0px;
}

/* main */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 140px 0;
}

.main-title {
  width: 669px;
}

.title {
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-colored {
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  color: #478bf9;
}

.description {
  margin-top: 24px;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #ffffff99;
}

.main-btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
}

@keyframes waterfall {
  0% {
    transform: translateY(-80%);
    opacity: 0;
  }
  100% {
    transform: translateY(-1%);
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(80%);
    opacity: 0;
  }
  100% {
    transform: translateY(1%);
    opacity: 1;
  }
}

.waterfall-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.main-banner {
  display: flex;
  margin-left: 42px;
  margin-right: 64px;
}

.banner-item:nth-child(1) {
  animation: waterfall 12s ease-out infinite alternate;
}

.banner-item:nth-child(2) {
  animation: appearFromBottom 12s ease-out infinite alternate;
}

.banner-item:nth-child(3) {
  animation: waterfall 12s ease-out infinite alternate;
}

.main-blog {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.blog {
  max-width: 531px;
  max-height: 595px;
  margin-top: 24px;
  padding: 24px 40px 0 24px;
  border: 3px solid #478bf9;
  border-radius: 60px;
  overflow: hidden;
}

.blog-item {
  max-width: 467px;
  padding: 16px 64px;
  margin-bottom: 16px;
  border-radius: 62px;
  background: rgba(30, 18, 49, 1);
}

.blog-message {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.blog-date {
  margin-top: 14px;
  font-size: 14px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.6);
}

/* footer */

.footer-container {
  border: 3px solid #478bf9;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 140px 20px;
}

.footer-list {
  display: flex;
  color: #ffffff;
  cursor: pointer;
}

.footer-list li {
  margin-right: 14px;
}

.icon-title {
  display: flex;
  justify-content: end;
  color: #ffffff;
}
