@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;700&display=swap");
@import url("./reset.css");

body {
  font-family: Lexend;
  background: rgba(17, 10, 29, 1);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 24px;
  border: 2px solid #478bf9;
  background: transparent;
  color: #ffffff;
}

button:hover {
  background-color: #478bf9;
}

.container {
  position: relative;
  z-index: 5;
}

.line-light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.dot-light-circle {
  position: absolute;
  top: 76px;
  right: 0;
  z-index: -1;
}

.header {
  margin: 16px 140px 0;
  border: 2px solid #478bf9;
  border-radius: 50px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 48px;
  position: relative;
}

.burger-menu {
  display: none;
  position: relative;
  width: 30px;
  height: 100%;
  transition: left 0.3s ease-in-out;
  z-index: 5;
}

.burger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 34px;
}

.menu {
  display: none;
}

.menu li {
  margin-bottom: 5px;
  text-align: center;
  border: 2px solid #478bf9;
  border-radius: 50px;
}

.menu-list {
  padding: 0 10px;
}

.menu a {
  display: block;
  padding: 13px 20px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.burger-menu.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 8px);
}

.burger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.logo {
  width: 287px;
  height: 32px;
}

.navigation-list {
  display: flex;
  color: #ffffff;
  cursor: pointer;
}

.navigation-list li {
  display: inline-block;
  margin-right: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.navigation-list a {
  text-decoration: none;
  color: #ffffff;
}

.navigation-list a:hover {
  color: #478bf9;
}

.navigation-list li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #478bf9;
  bottom: -4px;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.navigation-list li:hover::before {
  opacity: 1;
}

.navigation-list li:last-child {
  margin-right: 0px;
}

.navigation-btn {
  display: flex;
}

.btn {
  margin-right: 14px;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn:last-child {
  margin-right: 0px;
}

#language-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

#language-toggle::before {
  content: "";
  margin-bottom: 4px;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  background-image: url("./assets/icon-planet.png");
}

/* main */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 140px 0;
}

.main-title {
  max-width: 669px;
}

.title {
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-colored {
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  color: #478bf9;
}

.description {
  margin-top: 24px;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #ffffff99;
}

.main-btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
}

.main-btn a {
  text-decoration: none;
  color: #fff;
}

.waterfall-container {
  display: flex;
  overflow: hidden;
}

.main-banner {
  display: flex;
  margin-left: 42px;
  margin-right: 64px;
}

@keyframes waterfall {
  0% {
    transform: translateY(-80%);
    opacity: 0;
  }
  100% {
    transform: translateY(-1%);
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(80%);
    opacity: 0;
  }
  100% {
    transform: translateY(1%);
    opacity: 1;
  }
}

.banner-item:nth-child(1) {
  animation: waterfall 12s ease-out infinite alternate;
}

.banner-item:nth-child(2) {
  animation: appearFromBottom 12s ease-out infinite alternate;
}

.banner-item:nth-child(3) {
  animation: waterfall 12s ease-out infinite alternate;
}

.main-blog {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.blog {
  display: flex;
  max-width: 531px;
  max-height: 595px;
  margin-top: 24px;
  padding: 24px 16px 0 24px;
  border: 3px solid #478bf9;
  border-radius: 60px;
  overflow: hidden;
}

.scroll-container {
  max-width: 467px;
  max-height: 632px;
  padding-right: 16px;
  overflow: scroll;
  overflow-x: hidden;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #478bf9;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  margin-block: 4em;
  border-radius: 10px;
  background-color: #ffffff1f;
}

.blog-item {
  max-width: 467px;
  padding: 16px 64px;
  margin-bottom: 16px;
  border-radius: 62px;
  background: rgba(30, 18, 49, 1);
}

.blog-message {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.blog-date {
  margin-top: 14px;
  font-size: 14px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.6);
}

/* footer */

.footer-container {
  border: 3px solid #478bf9;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 140px 20px;
}

.footer-list {
  display: flex;
  cursor: pointer;
}

.footer-list a {
  text-decoration: none;
  color: #fff;
}

.footer-list li {
  display: inline-block;
  margin-right: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.footer-list a:hover {
  color: #478bf9;
}

.footer-list li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #478bf9;
  bottom: -4px;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.footer-list li:hover::before {
  opacity: 1;
}

.footer-list li:last-child {
  margin-right: 0;
}

.icon-title {
  display: flex;
  justify-content: end;
  color: #ffffff;
  margin-bottom: 14px;
}

.social-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-decoration: none;
}

.social-icon img.color-change {
  mix-blend-mode: color;
  transition: mix-blend-mode 0.5s;
}

.social-icon img.color-change:hover {
  mix-blend-mode: normal;
}
